body, html {
    background-image: url("../images/light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title-container {
    padding: 10px;
    margin: 10px;
    /* background-image: url("../images/title.jpg") ; */
    background-color: black;
    background-size: cover;
    background-position: center;
}
.start-container {
    padding: 10px;
    margin: 10px;
    /* background-image: url("../images/title.jpg") ; */
    background-color: black;
    background-size: cover;
    background-position: center;
}
h1 {
    align-content: center;
    color: white;
    background-color: black;
    padding:10px;
    margin: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 200px;
}
p {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: black;
    text-align: center;
}
h2 {
    padding: auto;
    margin: auto;
    text-align: left;
    color: black;
    font-family: 'Oswald', sans-serif;
}
h3 {
    align-content: center;
    color: white;
    background-color: black;
    padding:10px;
    margin: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 300px;
}
.landing-window {
    padding: 4rem 2rem;   
    margin-bottom: 2rem;
    border-radius: .3rem;
    align-content: center;
    position: relative;
    background-color: whitesmoke; 
    box-shadow: 0px 0px 10px black;

}
.container {
    padding: 4rem 2rem;   
    margin-bottom: 2rem;
    border-radius: .3rem;
    align-content: center;
    position: relative;
    background-color: whitesmoke; 
    box-shadow: 0px 0px 10px black;
}
.btn {
    padding: auto; 
    width: 30%;
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    align-content: center;
}
#total {
    float: left;
    color: blue;
    margin: auto;
    padding: auto;
}
/*.attr-container {
    box-sizing: content-box;
    outline: 2px dashed black;
    height: 500px;
    width: 600px;
    position: center;
}*/

/*------------Slider Gradient Color ---------*/

@media (min-width: 576px){}



