body {
  background-image: url("../images/austinSkyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.title-container {
  padding: 0.625em;
  margin: 0.625em;
  background-color: black;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.start-container {
  padding: 0.625em;
  margin: 0.625em;
  background-color: black;
  background-position: center;
}
h1 {
  align-content: center;
  color: white;
  background-color: black;
  padding: 0.625em;
  margin: 0.625em;
  text-align: center;
  font-size: 3em;
  font-family: "Bangers", cursive;
}
p {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  color: black;
  text-align: center;
}
h2 {
  padding: auto;
  margin: auto;
  text-align: left;
  color: black;
  font-family: "Oswald", sans-serif;
}
h3 {
  align-content: center;
  color: white;
  background-color: black;
  padding: 0.625em;
  margin: 0.625em;
  text-align: center;
  font-family: "Bangers", cursive;
  font-size: 2.5em;
}
#landing-window {
  padding: 4rem 2rem;
  margin-top: 10%;
  border-radius: 0.3rem;
  align-content: center;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px black;
  opacity: 0.95;
}
.landing-text {
  font-size: 1.75em;
}
#result-page {
  padding: 4rem 2rem;
  margin-top: 10%;
  border-radius: 0.3rem;
  align-content: center;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px black;
}
#disabled-job-title {
  text-decoration: line-through;
  color: #999;
}
.sliderContainers {
  padding: 4rem 2rem;
  margin-bottom: 3%;
  margin-left: 25%;
  width: 50%;
  border-radius: 0.3rem;
  display: block;
  align-content: center;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px black;
  opacity: 0.95;
}
.btn {
  padding: auto;
  width: 30%;
  border-radius: 0.3rem;
  margin-left: 35%;
  margin-right: 35%;
  display: block;
  align-content: center;
  color: whitesmoke;
  font-size: 1.25em;
  font-weight: 400;
}
.footer {
  height: 50x;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer_contents {
  height: 3.125em;
  width: 100%;
  margin: auto;
}

#happiness::-ms-tooltip {
  visibility: visble;
}

#start,
#results-button {
  margin: 0 auto;
  width: auto;
}

#back-btn1 {
  padding: 0.9375em;
  border-radius: 0.3rem;
  margin: 1.25em;
  display: inline-block;
  position: absolute;
  top: 2%;
}
#back-btn2 {
  border-radius: 0.3rem;
  margin-left: 2em;
  margin-top: 2em;
  display: inline-block;
  position: absolute;
  top: -1%;
  font-size: 35px;
  width: 75px;
  height: 75px;
}

/*------------Mobile Responsiveness ---------*/

@media (min-width: 576px) {
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.75em;
  }
  .btn {
    display: block;
    width: auto;
    float: none;
  }
  .sliderContainers {
    padding: 4rem 2rem;
    margin-bottom: 3%;
    margin-left: 10%;
    width: 80%;
    border-radius: 0.3rem;
    display: block;
    align-content: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px black;
    opacity: 0.95;
  }
  #landing-window {
    padding: 4rem 2rem;
    margin-top: 10%;
    border-radius: 0.3rem;
    align-content: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px black;
    opacity: 0.95;
    width: 90%;
    margin-left: 5%;
  }
  #back-btn1 {
    padding: 0.9375em;
    border-radius: 0.3rem;
    margin: 1.25em;
    display: inline-block;
    position: absolute;
    top: 2%;
    width: 50px;
    height: 50px;
    font-size: 13px;
  }
  #back-btn2 {
    border-radius: 0.3rem;
    margin-left: -8%;
    margin-top: -36px;
    display: inline-block;
    position: absolute;
    top: -1%;
    font-size: 35px;
    width: 70px;
    height: 70px;
  }
  #result-page {
    padding: 4rem 2rem;
    margin-top: 10%;
    border-radius: 0.3rem;
    align-content: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px black;
    width: 90%;
    margin-left: 5%;
  }
}
